<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--FONT AWESOME-->
    <script src="https://kit.fontawesome.com/6feb38e306.js" crossorigin="anonymous"></script>
    <!--font family-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600&display=swap" rel="stylesheet">
    <!--FONT AWESOME-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <title>HIFI</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>