<footer class="footer">


    <div class="footerLink">
        <a href="">Returns & Refunds</a>

        <span class="pipe">|</span>

        <a href="">Privacy Policy</a>

    </div>




    <div class="imgIcon">

        <div class="img1"><img src="/assets/img/billeder/worldpay_logo_2014.fw_.png" height="40" width="70" alt=""></div>
        <div class="img2"><img src="/assets/img/billeder/VisaCard.png" height="10" width="20" alt=""></div>
        <div class="img3"><img src="/assets/img/billeder/MasterCardLogo.png" height="20" width="30" alt=""></div>
        <div class="img4"><img src="/assets/img/billeder/Maestro-Card1.png" height="20" width="30" alt=""></div>
        <div class="img5"><img src="/assets/img/billeder/JCB_logo1.png" height="20" width="20" alt=""></div>
        <div class="img6"><img src="/assets/img/billeder/paypal_done1.png" height="20" width="40" alt=""></div>


    </div>


    <div class="icons">

        <div class="icon1"><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>
        <div class="icon2"><a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="icon3"><a href="https://twitter.com/" target="_blank" ><i class="fab fa-twitter"></i></a>
        </div>
        <div class="icon4"><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>






    </div>

</footer>