<header class="header">
    <section class="header__icons">
        <!--Maps--><a
            href="https://www.google.dk/maps/place/2+Joppa+Rd,+Edinburgh+EH15+2EU,+Storbritannien/@55.9495059,-3.1008244,250m/data=!3m1!1e3!4m5!3m4!1s0x4887b9a4540dd399:0xcddac00cb4a9c21e!8m2!3d55.9495364!4d-3.1003632"
            target="_blank"><i class="fas fa-map-marker-alt"></i></a>
        <!--Phone--><i class="fas fa-phone-alt"></i>
        <!--Email--><i class="fas fa-envelope-open-text"></i>
        <!--Subscribe-->
        <div><i class="fas fa-envelope"></i>
            <p>Subscribe</p>
        </div>
    </section>

    <nav class="navigation">
        <ul class="navigation__liste">
            <li class="navigation__liste-items" id="home"><a href="header.html">HOME</a></li>
            <li class="navigation__liste-items">ABOUT US</li>
            <li class="navigation__liste-items">BRANDS</li>
            <li class="navigation__liste-items">BLOG</li>
            <li class="navigation__liste-items">EVENTS</li>
            <li class="navigation__liste-items">SHOP</li>
            <li class="navigation__liste-items">CONTACT US</li>
        </ul>
    </nav>
</header>