<%- include ('../partials/before-header.ejs') %>
<%- include ('../partials/header.ejs') %>

<main class="shop-main">

    <section class="block_container">
        <a href="#"><img class="producttype" src="./img/Brands/arcam.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/atc.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/Audiolab.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/Bowers.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/chord.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/denon.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/devialet.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/focal.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/harbeth.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/kef.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/Linn.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/Marantz.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/naim.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/Oppo.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/Primaluna.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/Project.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/Quad.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/Roksan.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/Rotel.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/sennheiser.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/Spendor.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/sugden.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/Technics.png"></a>
        <a href="#"><img class="producttype" src="./img/Brands/yamaha.png"></a>
        
    </section>
    

</main>

<%- include ('../partials/footer.ejs') %>
<%- include ('../partials/after-footer.ejs') %>