<%- include ('../partials/before-header.ejs') %>
<%- include ('../partials/header.ejs') %>

<main class="main">

    <section class="hero"></section>
    <section class="hero__klods"></section>
    <section class="hero__bund">OUR EDINBURGH SHOWROOM HAS NOW MOVED TO STUNNING NEW PREMISES ON JOPPA ROAD
    </section>

    <section class="slide">
        <p class="slide__title">Pro_ject_Debut_3_bl</p>
        <div class="fas fa-chevron-left"></div>
        <img class="slide__image" src="img/speaker_1.jpg" alt="pladeafspillere">
        <div class="fas fa-chevron-right"></div>
    </section>


    <section class="linksection">

        <ul class="social-media-links">

            <li class="social-media-links__facebook">
                <a class="social-media-links__a1" href="https://www.facebook.com/HiFiCorner" target="_blank"><i
                        class="social-media-links__facebook-icon fab fa-facebook-square"></i></a>
            </li>

            <li class="social-media-links__blogger">
                <a class="social-media-links__a2" href="https://www.blogger.com/about/?r=1-null_user"
                    target="_blank"><i class="social-media-links__blogger-icon fab fa-blogger"></i></a>
            </li>

            <li class="social-media-links__twitter">
                <a class="social-media-links__a3" href="https://twitter.com/hifi_corner" target="_blank"><i
                        class="social-media-links__twitter-icon fab fa-twitter-square"></i></a>
            </li>

        </ul>

        <ul class="info-links">

            <li class="info-links__link1">
                <button class="info-links__button1">HISTORY</button>
                <p class="info-links__text1">
                    ESTABLISHED IN THE LAST 1960S. OUR FAMILY OWNED BUSINESS IS BASED IN EDINBURGH AND FALKIRK,
                    SERVICING CUSTOMERS ACROSS THE UK.
                </p>
            </li>
            <li class="info-links__link2">
                <button class="info-links__button2">NEWS</button>
                <p class="info-links__text2">
                    CHECK OUT OUR LATEST NEWS STORIES FOR ALL THE UP TO DATE HI-FI CORNER PRODUCTS AND LAUNCHES.
                </p>
            </li>
            <li class="info-links__link3">
                <button onclick="window.location.href = 'https://google.com';"
                    class="info-links__button3">SHOP</button>
                <p class="info-links__text3">
                    HAVE A LOOK IN OUR ONLINE SHOP FOR GREAT PRODUCTS AND DEALS.
                </p>
            </li>

        </ul>

    </section>



</main>

<%- include ('../partials/footer.ejs') %>
<%- include ('../partials/after-footer.ejs') %>