<%- include ('../partials/before-header.ejs') %>
<%- include ('../partials/header.ejs') %>

<main class="shop-main">

    <section class="block_container">
        <a class="producttype" href="#">
            <p>SHOP BY BRAND</p><img src="./img/shop/ShopByBrand.png">
        </a>
        <a href="#">
            <p>AMPLIFIERS</p><img class="producttype" src="./img/shop/amplifiers.png">
        </a>
        <a href="#">
            <p>SPEAKERS</p><img class="producttype" src="./img/shop/Speakers.png">
        </a>
        <a href="#">
            <p>TURNTABLES</p><img class="producttype" src="./img/shop/Turntable.png">
        </a>
        <a href="#">
            <p>CD PLAYERS</p><img class="producttype" src="./img/shop/Cdplayer.png">
        </a>
        <a href="#">
            <p>STREAMERS</p><img class="producttype" src="./img/shop/streamers.png">
        </a>
        <a href="#">
            <p>CABLES</p><img class="producttype" src="./img/shop/Cables.png">
        </a>
        <a href="#">
            <p>FURNITURE</p><img class="producttype" src="./img/shop/funiture.png">
        </a>
        <a href="#">
            <p>HEADPHONES</p><img class="producttype" src="./img/shop/Headphones.png">
        </a>
        <a href="#">
            <p>HOME CINEMA</p><img class="producttype" src="./img/shop/HomeCinema.png">
        </a>
        <a href="#">
            <p>OUTLET - SAVE UP TO 50%</p><img class="producttype" src="./img/shop/Outlet.png">
        </a>
        <a href="#">
            <p>EBAY SHOP</p><img class="producttype" src="./img/shop/eBay.png">
        </a>
        <a href="#">
            <p>CEILING SPEAKERS</p><img class="producttype" src="./img/shop/CeilingSpeakers.png">
        </a>
        <a href="#">
            <p>TVS</p><img class="producttype" src="./img/shop/TVs.png">
        </a>
        <a href="#">
            <p>VINYL LPS</p><img class="producttype" src="./img/shop/VinylLPS.png">
        </a>
        <a href="#">
            <p>SHOP NOW</p><img class="producttype" src="./img/shop/shop.png">
        </a>


    </section>

</main>

<%- include ('../partials/footer.ejs') %>
<%- include ('../partials/after-footer.ejs') %>